 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>We provide Cyber Security Sollutions for Web Application and infrastucture  Vulnerability Assessment and Penetration Testing.</p>
                </div>
                <div class="col-lg-4">
                    <p>We also provide support to manage Cloud Security, DevSecOps and deployment of Security Operation Center.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://aeronull" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Register Yourself and Get Trained
                    </a>
                </div>
            </div>
        </div>
    </section>
